@page
@model CallForPapers
@{
    ViewData["Title"] = "Call For Papers";
}

<section class="bg-white p-4 rounded-3 my-3">
    <h1 class="text-center">Call For Papers</h1>
    <div class="d-flex gap-4 mt-4">
        <div class="w-50">
            INDIACom-2025 is aimed to invite original research papers in the field of, primarily,
            Computer Science and Information Technology and, generally, all interdisciplinary streams of Engineering
            Sciences, having central focus on sustainable computing applications, which may be of use in enhancing the
            quality of human life and contribute effectively to realize the nations’ vision of sustainable inclusive
            development using Computing. INDIACom-2025 will be an amalgamation of four different Tracks organized
            parallel
            to each other as listed :-
        </div>
        <div class="w-50">
            <div class="">
                <div class="">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong class="text-primary">Track #1:</strong> Sustainable Computing
                        </li>
                        <li class="list-group-item">
                            <strong class="text-primary">Track #2:</strong> High Performance Computing
                        </li>
                        <li class="list-group-item">
                            <strong class="text-primary">Track #3:</strong> High Speed Networking and Information
                            Security
                        </li>
                        <li class="list-group-item">
                            <strong class="text-primary">Track #4:</strong> Software Engineering and Emerging
                            Technologies
                        </li>
                        <li class="list-group-item">
                            <strong class="text-primary">Track #5:</strong> Intl. Conference on Information Engineering
                            and Mgmt.
                            (ICIEM-2024)
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>



    <p class="mt-4">INDIACom-2025 will be held at Bharati Vidyapeeth, New Delhi (INDIA). The conference will provide a
        platform for
        technical exchanges within the research community and will encompass regular paper presentation sessions,
        invited talks, key note addresses, panel discussions and poster exhibitions. In addition, the participants will
        be treated to a series of cultural activities, receptions and networking to establish new connections and foster
        everlasting friendship among fellow counterparts. The conference will also provide opportunity to the
        participants to visit some of the world’s famous tourist places in Delhi like Qutub Minar, Red Forte, Akshardham
        Temple, Lotus Temple, Jantar Mantar and Taj Mahal at Agra (around 200 KM from Delhi).

        Full length original and unpublished research papers based on theoretical or experimental contributions related
        to the following topics, but not limited to, are solicited for presentation and publication in the conference:-
    </p>

    <div class="container my-5">
        <h2 class="text-center">Conference Topics</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- Column 1 -->
            <div class="col">
                <div class="h-100 p-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1. Algorithms and Computational Mathematics</li>
                        <li class="list-group-item">2. E-Commerce, ERP, CRM & Knowledge Mining</li>
                        <li class="list-group-item">3. Distributed and Cloud Computing</li>
                        <li class="list-group-item">4. Green Technologies and Sustainable Computing</li>
                        <li class="list-group-item">5. IT for Crisis Prevention & Recovery</li>
                        <li class="list-group-item">6. Parallel, Multi-core and Grid Computing</li>
                        <li class="list-group-item">7. Energy Efficient Systems</li>
                        <li class="list-group-item">8. E-Governance</li>
                        <li class="list-group-item">9. Reconfigurable Architectures</li>
                        <li class="list-group-item">10. IT for Education, Health & Development</li>
                        <li class="list-group-item">11. IT for Disaster Management and Remote Sensing</li>
                        <li class="list-group-item">12. Changing Software Architectural Paradigms</li>
                        <li class="list-group-item">13. IT for Environmental Sustainability</li>
                        <li class="list-group-item">14. IT for other day to day problems</li>
                        <li class="list-group-item">15. Mobile Computing</li>
                        <li class="list-group-item">16. IT for Sustainable Agriculture Development</li>
                        <li class="list-group-item">17. Programming Practices & Coding Standards</li>
                        <li class="list-group-item">18. Software Inspection, Verification & Validation</li>
                        <li class="list-group-item">19. IT for Water Resources Management</li>
                        <li class="list-group-item">20. Knowledge Management</li>
                    </ul>
                </div>
            </div>

            <!-- Column 2 -->
            <div class="col">
                <div class="h-100 p-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">21. Software Sizing and Estimation Techniques</li>
                        <li class="list-group-item">22. IT for Consumers’ Right</li>
                        <li class="list-group-item">23. Technology for Convergence</li>
                        <li class="list-group-item">24. Agile Technologies</li>
                        <li class="list-group-item">25. Artificial Intelligence and Neural Networks</li>
                        <li class="list-group-item">26. Data Mining and Business Intelligence</li>
                        <li class="list-group-item">27. Data Communication, Computer Networks and Information Security
                        </li>
                        <li class="list-group-item">28. Computer Vision, Graphics, and Image Processing</li>
                        <li class="list-group-item">29. Real Time Language Translations</li>
                        <li class="list-group-item">30. Fuzzy, Soft Computing and Nature Inspired Computing</li>
                        <li class="list-group-item">31. Modelling and Simulation</li>
                        <li class="list-group-item">32. Case Studies & Applications</li>
                        <li class="list-group-item">33. Network Monitoring Tools</li>
                        <li class="list-group-item">34. Embedded Systems and Robotics</li>
                        <li class="list-group-item">35. Big Data Analytics</li>
                        <li class="list-group-item">36. Operating Systems</li>
                        <li class="list-group-item">37. Human Computer Interaction</li>
                        <li class="list-group-item">38. Education Informatics</li>
                        <li class="list-group-item">39. Medical Informatics</li>
                    </ul>
                </div>
            </div>

            <!-- Column 3 -->
            <div class="col">
                <div class="h-100 p-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">40. Entertainment Technologies</li>
                        <li class="list-group-item">41. Computational Finance</li>
                        <li class="list-group-item">42. Bioinformatics</li>
                        <li class="list-group-item">43. Multimedia Computing</li>
                        <li class="list-group-item">44. Research Methods for Computing</li>
                        <li class="list-group-item">45. Wireless Networking</li>
                        <li class="list-group-item">46. Information and Collaboration Systems</li>
                        <li class="list-group-item">47. Databases</li>
                        <li class="list-group-item">48. Next Generation Networks</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <section class="mb-5">
                    <div class="card shadow-sm">
                        <div class="card-header text-white bs-primary">
                            <h2 class="h4 mb-0">Paper Submission</h2>
                        </div>
                        <div class="card-body">
                            <p class="mb-0">Authors from across different parts of the world are invited to submit their
                                papers. Authors wishing to submit their papers must refer to the website, for paper
                                structuring and formatting guidelines in detail, at Technical Guidelines. Authors should
                                submit their papers online at Submit Paper. Unregistered authors should first create an
                                account on Add Member to log on and submit paper. Only electronic submissions will be
                                considered. Papers submitted by e-mail will not be considered.</p>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="card shadow-sm">
                        <div class="card-header text-white bs-primary">
                            <h2 class="h4 mb-0">Review Process, Publication and Indexing</h2>
                        </div>
                        <div class="card-body">
                            <div class="mb-4">
                                <p>The conference aims at carrying out two rounds of review process. In the first round,
                                    the papers submitted by the authors will be assessed on the basis of their technical
                                    suitability, scope of work and plagiarism. The corresponding authors of qualifying
                                    submissions will be intimated for their papers to be double blind reviewed by three
                                    experts on the basis of originality, novelty, clarity, completeness, relevance,
                                    significance and research contribution.</p>
                                <p>The shortlisted papers of all the tracks will be accepted for presentation and
                                    publication in the Soft Copy of Conference proceedings, on the website.</p>
                                <div class="alert alert-info">
                                    <strong>INDIACom-2025</strong> has applied for <strong>IEEE's Conference Publication
                                        Program</strong>. This means that all papers presented during the conference
                                    will be submitted for possible consideration and inclusion in <strong>IEEE
                                        Xplore</strong> subject to their own quality check for publication and indexing,
                                    which is indexed with world's leading <strong>Abstracting & Indexing (A&I)</strong>
                                    databases, including <strong>ISI, SCOPUS, DBLP, EI-Compendex, Google
                                        Scholar</strong>, etc.
                                </div>
                            </div>

                            <div>
                                <h3 class="h5 mb-3">Extended version of the selected papers will also be recommended to
                                    be published in the following Journals:</h3>
                                <div class="list-group fs-5">
                                    <div class="list-group-item">
                                        <h4 class="h6 mb-1">International Journal of Information Technology (BJIT)</h4>
                                        <p class="small mb-1">ISSN: 2511-2104 (Print Version); ISSN: 2511-2112
                                            (Electronic Version)</p>
                                        <p class="small mb-0">Published by <strong>Springer Nature</strong>, indexed at
                                            <strong>SCOPUS, DBLP, INSPEC, CNKI, OCLC, Google Scholar</strong>, etc.
                                        </p>
                                        <a href="https://www.editorialmanager.com/BJIT/default.aspx" class="small">More
                                            details</a>
                                    </div>

                                    <div class="list-group-item">
                                        <h4 class="h6 mb-1">Wireless Communications and Mobile Computing</h4>
                                        <p class="small mb-1">ISSN: 1530-8669</p>
                                        <p class="small mb-0">Published by Hindawi. Indexed at <strong>Web of Science,
                                                Scopus, SCIE, JCR</strong>. Impact Factor: 1.899 (2016)</p>
                                        <a href="https://www.hindawi.com/journals/wcmc/" class="small">More details</a>
                                    </div>

                                    <div class="list-group-item">
                                        <h4 class="h6 mb-1">International Journal of Ambient Computing and Intelligence
                                            (IJACI)</h4>
                                        <p class="small mb-1">ISSN: 1941-6237</p>
                                        <p class="small mb-0">Indexed by <strong>Clarivate, SCOPUS, EI
                                                Compendex</strong></p>
                                        <a href="http://www.igi-global.com/journal/international-journal-ambient-computing-intelligence/1110"
                                            class="small">More details</a>
                                    </div>

                                    <div class="list-group-item">
                                        <h4 class="h6 mb-1">Advances in Multimedia</h4>
                                        <p class="small mb-1">ISSN: 1687-5680</p>
                                        <p class="small mb-0">Published by Hindawi. Indexed at <strong>Web of Science,
                                                Scopus, ACM DL, DBLP, INSPEC</strong></p>
                                        <a href="https://www.hindawi.com/journals/am/" class="small">More details</a>
                                    </div>

                                    <div class="list-group-item">
                                        <h4 class="h6 mb-1">Network Protocols and Algorithms</h4>
                                        <p class="small mb-1">ISSN: 1943-3581</p>
                                        <p class="small mb-0">Indexed at <strong>ACM DL, DBLP, INSPEC</strong></p>
                                        <a href="http://www.macrothink.org/journal/index.php/npa/index"
                                            class="small">More details</a>
                                    </div>

                                    <div class="list-group-item">
                                        <h4 class="h6 mb-1">Australian Journal of Intelligent Information Processing
                                            Systems</h4>
                                        <p class="small mb-1">ISSN: 1321-2133</p>
                                        <p class="small mb-0">Indexed at <strong>INSPEC</strong>, Ranked B by Australian
                                            Government</p>
                                        <a href="http://vbn.aau.dk/en/journals/australian-journal-of-intelligent-information-processing-systems"
                                            class="small">More details</a>
                                    </div>

                                    <div class="list-group-item">
                                        <h4 class="h6 mb-1">International Journal of Synthetic Emotions (IJSE)</h4>
                                        <p class="small mb-1">ISSN: 1947-9093</p>
                                        <p class="small mb-0">Indexed by <strong>ACM DL, DBLP</strong></p>
                                        <a href="http://www.igi-global.com/journal/international-journal-synthetic-emotions-ijse/1144"
                                            class="small">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="mb-3 text-danger">Important Dates</h2>
        <table class="table table-bordered border-primary">
            <thead class="table-primary text-dark">
                <tr>
                    <th class="text-black">Event</th>
                    <th class="text-black">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-dark">Submission of Full-Length Paper</td>
                    <td class="text-primary">09th December, 2024</td>
                </tr>
                <tr>
                    <td class="text-dark">Paper Acceptance Notification</td>
                    <td class="text-primary">10th February, 2025</td>
                </tr>
                <tr>
                    <td class="text-dark">Submission of Final Version of Paper</td>
                    <td class="text-primary">24th February, 2025</td>
                </tr>
                <tr>
                    <td class="text-dark">Registration Deadline <strong class="text-warning">(Early Bird)</strong></td>
                    <td class="text-primary">24th February, 2025</td>
                </tr>
            </tbody>
        </table>
    </div>


</section>