@page
@model Downloads
@{
    ViewData["Title"] = "Downloadable Documents";
}
<section class="section">
    <h1 class="title">@ViewData["Title"]</h1>
    @* <p class="subtitle">(02<sup>nd</sup> - 04<sup>th</sup> April, 2025)</p> *@
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th colspan="2" class="align-middle">Document Name</th>
                    <th colspan="2"> Format</th>
                    
                </tr>
                
                <tr>
                    <th class="text-primary" colspan="4">For Authors </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="highlight-row">
                    <td >1.</td>
                    <td >Copyright Transfer Form (CRT)</td>
                    <td colspan="2"><a href="#">PDF</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Certificate of Originality and Confirmation to attend the Conference (CORG)</td>
                    <td><a href="#">DOC</a></td>
                    <td><a href="#">PDF</a></td>
                    
                </tr>
                <tr>
                    <td>3.</td>
                    <td>How to Use IEEE PDF eXpress</td>
                    <td colspan="2">PDF</td>
                    
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Template for Full Paper</td>
                    <td><a href="#">DOC</a></td>
                    <td><a href="#">PDF</a></td>
                    
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Call for Papers</td>
                    <td colspan="2"><a href="#">DOC</a></td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Conference Secretariat</td>
                    <td colspan="2"><a href="#">HTML</a></td>
                </tr>

                <tr class="highlight-row">
                    <th colspan="4" class="text-primary">General </th>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Important Dates</td>
                    <td><a href="#">DOC</a></td>
                    <td><a href="#">PDF</a></td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Registration Form for INDIACom</td>
                    <td><a href="#">DOC</a></td>
                    <td><a href="#">PDF</a></td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Payment Modes</td>
                    <td><a href="#">DOC</a></td>
                    <td><a href="#">PDF</a></td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Reaching BVICAM</td>
                    <td><a href="#">DOC</a></td>
                    <td><a href="#">PDF</a></td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>List of Nearby Hotels / Guest Houses</td>
                    <td><a href="#">DOC</a></td>
                    <td><a href="#">PDF</a></td>
                </tr>
                
            </tbody>
        </table>
        

    </div>


</section>
