@page
@model FaqModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container my-5">
    <h1 class="text-center mb-4">Frequently Asked Questions</h1>
    <div class="accordion" id="faqAccordion">

        <div class="accordion-item">
            <h2 class="accordion-header" id="faq1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                    aria-expanded="true" aria-controls="collapse1">
                    Why do I need to become a member on the website?
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="faq1"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Getting membership to our site is the first step towards your participation in our conferences. So
                    whether you are an author keen on submitting your paper to us, or someone interested in attending
                    our conference, the first step is getting a membership. Simply put, becoming a member of our site
                    would help us serve you. And its free!
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="faq2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    What are the benefits of becoming a member?
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="faq2"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Being a member of our site gives you access to "members-only" features like online paper submission,
                    event registration. This guarantees that your data is the processed faster than the conventional
                    route. Also, the correspondence with members is automated and the important messages regarding
                    various events are regularly communicated to the members of our website.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="faq3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    How do I become a member?
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="faq3"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    You need to fill up an online form with details regarding you and your organisation. Be careful
                    while filling up these forms, as various certificates acknowledging your contributions would be
                    generated based on our records submitted by you. You can access the Membership Form here.
                </div>
            </div>
        </div>

        <!-- Add more FAQ questions here in similar format -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    The name of my organization does not appear in the list of organizations given on the membership
                    form. What do I do?
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="faq4"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Select the last entry i.e. Other that appears in the listed organizations. You would be prompted to
                    add details related to your organization. Fill in the required data and your organization will be
                    added to our list immediately.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse4">
                    I am a member on the website. Can I change my membership details?
                </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="faq5"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Yes. After logging in, click on the edit profile link that appears next to the login message.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    I am a member on the website, but I forgot my password, what do I do?
                </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="faq6"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Click on the Forgot Your Password link that appears on the login page.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Do I need to register for the conference, if I am not submitting a paper?
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="faq7"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    If you wish to attend our conference, then you need to register.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq8">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    How do I register?
                </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="faq8"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    To register for an event, you need to fill up a registration form for that specific event. You can
                    access the Event Registration Form here.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="faq9">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    How do I make payments?
                </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="faq9"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Payments can be made either in Cash or by Demand Draft (DD) (drawn in favour of Director, BVICAM,
                    payable at New Delhi). Online Payments / RTGS in our SBI Account No.: 32077798105 Account Name:
                    BVICAM Branch Name: Jwala Heri (Delhi, INDIA), Branch Code: 06623, IFSC: SBIN0006623, Account Type:
                    Saving. While making online payment, authors are further requested to mention their Member ID &
                    Paper ID clearly in Payment Remark to enable us to trace your payment in the Bank Statement. Kindly
                    also note to add the applicable bank charges, if any, for online payment. .Cash payments are to be
                    made on the spot, while the DD can be mailed to us.
                    Any payment received before the specified early bird date is eligible for the early bird discount.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq10">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    I don't know the member ID of my co-authors, what do I do?
                </button>
            </h2>
            <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="faq10"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    During Paper submissions, you will be prompted to enter the Member ID's of co-authors. It is
                    required, and hence you need to ask the co-authors for their Member ID's. To obtain a Member ID, one
                    needs to get membership to our site.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq11">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    My co-authors are not members, what do I do? My co-authors are not members, what do I do?
                </button>
            </h2>
            <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="faq11"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    During Paper submissions, you will be prompted to enter the Member ID's of co-authors. It is
                    required, and hence you need to ask your co-authors to get membership to our site.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq12">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                    I need an accommodation during the conference, who do I contact?
                </button>
            </h2>
            <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="faq12"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    A list of nearby hotels / guest houses is available on the website. The authors are requested to
                    kindly contact the hotel and book accommodation directly.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq13">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                    What would happen if the author due to sudden problems could not attend the conference?
                </button>
            </h2>
            <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="faq13"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    In case none of the authors is able to present the paper, the paper is considered to be "NOT
                    PRESENTED".
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq14">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                    What will happen if the author has already paid the registration/proceeding charges, but could not
                    attend the conference?
                </button>
            </h2>
            <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="faq14"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    The payments made on account of any of the services related to INDIACom, are not refundable.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq15">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                    My paper has already been accepted and registration charges have been paid, but the paper was not
                    presented. Under these circumstances, what will be the provision of IEEE organization? Will my paper
                    be published in the conference proceedings?
                </button>
            </h2>
            <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="faq15"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Since the paper has not been presented, it will NOT be forwarded to IEEE Xplore. Also, registration
                    fee, once paid is not refundable. At best, only a locally published copy can be sent to the
                    author(s) at the postal address intimated to the Conference Organizers.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq16">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                    There have been cases when IEEE published accepted papers for which registration charges had been
                    paid, even if the paper was not presented due to unavoidable circumstances. Why is the practice not
                    being followed now?
                </button>
            </h2>
            <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="faq16">
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    The practice might have been adopted earlier, but now it is totally against the policy of IEEE.
                    Hence, as geographic representative of IEEE, it’s Delhi Section, under whose jurisdiction the
                    conference was held, doesn't follow and subscribe to the practices and views as expressed by the
                    author(s), unfortunately those being bad practices as quoted.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="faq17">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                    It is our humble request to kindly publish our paper (that was not presented) in IEEE conference
                    proceedings.
                </button>
            </h2>
            <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="faq17"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Sorry, but as made clear above, the accepted paper(s) which are NOT presented in the conference
                    would not be sent for publication in the IEEE Xplore. However, to summarize, upon intimation to
                    Conference Organizers (not to IEEE Delhi Section, but to the Conference Secretariat), local
                    publications could be sent in the name of registered author. For future it is advised that if the
                    registered author cannot come to the conference for presenting paper, any of the other co-author(s)
                    may come and present the paper. In such case the paper automatically becomes eligible for
                    publication through IEEE Xplore.
                    <span> 

                    But since in this case paper was not presented, upon request to Conference Organizers, so IEEE
                    Copyright Form pledged in favor of IEEE could be cancelled enabling the paper to be shown withdrawn
                    thus to be eligible for submission elsewhere for further consideration (avoiding automatically
                    duplicate submission with record changed accordingly).
                    
                </div>
            </div>
        </div>

        <!-- Repeat similar blocks for the other questions -->

    </div>
</div>
