@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="container bg-white rounded-3 my-3 ">
    <div class="d-flex flex-column gap-2">
        <div class="d-flex gap-3">
            <div class="img-carousel justify-content-between">
                <img src="images/3.jpg" alt="slider" class="w-100 h-100">
            </div>
            <div class="sidebar">
                <p class="primary-gradient default-radius">Notices</p>
                <div class="notices-list-container primary-gradient default-radius">
                    <ul class="list">
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="">
            @* <div class="important-dates">
            <p class="primary-gradient default-radius text-center">Important Dates</p>
            <div class="date-div primary-gradient">
            <div>
            <div class="single-date">
            <p>Submission of
            Full Length Paper
            </p>
            <p class="">
            9th Dec, 2024
            </p>
            </div>
            <hr class="separator">
            </div>
            <div>
            <div class="single-date">
            <p>Submission of
            Full Length Paper
            </p>
            <p class="">
            9th Dec, 2024
            </p>
            </div>
            <hr class="separator">
            </div>
            <div>
            <div class="single-date">
            <p>Submission of
            Full Length Paper
            </p>
            <p class="">
            9th Dec, 2024
            </p>
            </div>
            <hr class="separator">
            </div>
            <div>
            <div class="single-date">
            <p>Submission of
            Full Length Paper
            </p>
            <p class="">
            9th Dec, 2024
            </p>
            </div>
            </div>
            </div>
            </div> *@
            <div class="">
                <p>
                    Throughout the world, nations have started recognizing that IT is now acting as a catalyst in
                    speeding up the economic activity in efficient governance, citizens' empowerment and in improving
                    the
                    quality of human life.
                </p>

                <p>
                    Since its inception in the year 2007, INDIACom has attracted eminent academicians, scientists,
                    researchers,
                    industrialists, technocrats, government representatives, social visionaries and experts from all
                    strata
                    of
                    society, to explore the new horizons of innovations to identify opportunities and define the path
                    forward.
                    This new path is aimed at eliminating isolation, discouraging redundant efforts and promoting
                    scientific
                    progress to accelerate nations economic growth to prominence in the international arena; and also at
                    contributing effectively to realize the nations vision of sustainable inclusive development using
                    computing.
                </p>

                <p>
                    Encouraged by the resounding success met with the prior editions of INDIACom, we, announce 19th
                    INDIACom;
                    2025 12th International Conference as INDIACom-2025. INDIACom, as always, aims at providing an
                    effective
                    platform to the researchers from all over the world to show-case their original research work, have
                    effective exchange of ideas and develop a strategic plan for balanced and inclusive growth of
                    economy
                    through IT in critical areas like E-Governance, E-Commerce, Disaster Management, GIS, Geo-spatial
                    Technologies, Nano-Technology, Intellectual Property Rights, AI and Expert Systems, Networking,
                    Software
                    Engineering, High Performance Computing and other Emerging Technologies.
                </p>

                <p>
                    INDIACom-2025 will be held at Bharati Vidyapeeth, New Delhi (INDIA). The conference will provide a
                    platform
                    for technical exchanges within the research community and will encompass regular paper presentation
                    sessions, invited talks, key note addresses, panel discussions and poster exhibitions. In addition,
                    the
                    participants will be treated to a series of cultural activities, receptions and networking to
                    establish
                    new
                    connections and foster everlasting friendship among fellow counterparts. The conference will also
                    provide
                    opportunity to the participants to visit some of the world’s famous tourist places in Delhi like
                    Qutub
                    Minar, Red Fort, Akshardham Temple, Lotus Temple, Jantar Mantar and Taj Mahal at Agra (around 200 KM
                    from
                    Delhi).
                </p>
                <div class="cta-container">
                    <a href="#" class="cta-button primary-gradient">Download Call for Paper</a>
                </div>
                <div class="steps-container">
                    <div class="step">
                        <h3>Track # 1:</h3>
                        <p>Sustainable Computing</p>
                    </div>
                    <div class="step">
                        <h3>Track # 2:</h3>
                        <p>High Performance Computing</p>
                    </div>
                    <div class="step">
                        <h3>Track # 3:</h3>
                        <p>High Speed Networking and Information Security</p>
                    </div>
                    <div class="step">
                        <h3>Track # 4:</h3>
                        <p>Software Engineering and Emerging Technologies</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
