@page
@model SpecialSessions
@{
    ViewData["Title"] = "INDIACom-2007 to INDIACom-2023";
}
<section class="container bg-white rounded-3 mt-3 p-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="highlight mb-4">
        <p>
            Since its inception in the year 2007, INDIACom has aimed at developing a strategic plan for balanced growth
            of nations' economy through IT in critical areas like e-Governance, e-Commerce, Disaster Management, GIS,
            Nano-Technology, Intellectual Property Rights, AI and Expert Systems, Networking, Software Engineering and
            other emerging Technologies.
        </p>
    </div>

    <div class="highlight mb-4">
        <h2>INDIACom-2012</h2>
        <p>
            The mega events, INDIACom-2007 to INDIACom-2024, received overwhelming response from participants all over
            the world as over 3000 papers based on different aspects of computing for Nation Development were received
            in the last edition of INDIACom. The event spans over three days with five parallel tracks of paper
            presentations covering various aspects of IT and their implementation to catalyze overall growth and
            development process. The audience got a glimpse of limitless avenues as the participants poured in their
            virgin concepts of harnessing the power of computation to the tip of tooth. The Proceedings having ISSN &
            ISBN serials was released during the conference.
        </p>
    </div>

    <div class="highlight">
        <h2>Keynote and Invited Speakers</h2>
        <p>During the last sixteen editions of INDIAComs (from INDIACom-2007 to INDIACom-2023), over 700 Keynote and
            Invited Speakers were invited. Some of them are:</p>
        <ul class="speaker-list">
            <li>Dr. Junichiro Mori, The University of Tokyo, Tokyo (JAPAN)</li>
            <li>Dr. Eissa J. Alreshidi, University of Hail, Hail, Saudi Arabia (KSA)</li>
            <li>Dr. Abdullah M. Basahel, King Abdulaziz University, Jeddah, Saudi Arabia (KSA)</li>
            <li>Prof. Milos Stojmenovic, Singidunum University, Belgrade (SERBIA)</li>
            <li>Prof. Mohammad Yamin, Australian National University, Canberra (AUSTRALIA)</li>
            <li>Dr. Mohammad Alsaig, King Abdulaziz University, Jeddah, Saudi Arabia (KSA)</li>
            <li>Dr. Yasser Ades, Greenwich University (LONDON)</li>
            <li>Dr. Hadi Hedayati, Dy. Minister, Ministry of Communications & IT, Islamic Republic of Afghanistan
                (AFGHANISTAN)</li>
            <li>Prof. Tom Gedeon, Australian National University, Canberra (AUSTRALIA)</li>
            <li>Dr. Shingo Yamaguchi, Yamaguchi University (JAPAN)</li>
            <li>Dr. Zhaolong Gou, Yamaguchi University (JAPAN)</li>
            <li>Prof. P. Mateti, Wright State University (USA)</li>
            <li>Prof. G. S. Hura, University of Maryland (USA)</li>
            <li>Dr. Girija Chetty, University of Canberra (AUSTRALIA)</li>
            <li>Dr. Sreedhar Acharya Nallan, Edith Cowan University, Perth (AUSTRALIA)</li>
            <li>Prof. B. S. Chowdhry, Mehran University of Engineering & Technology, Jamshoro, Sindh (PAKISTAN)</li>
            <li>Dr. Daniel Petrisor, Gheorghe Asachi Technical University of Iasi, Iasi (ROMANIA)</li>
            <li>Prof. Aimé Lay-Ekuakille, Univ. of Salento (ITALY)</li>
            <li>Prof. Ashok Aggarwala, University of Maryland (USA)</li>
            <li>Dr. Georgios Tsaramirsis, Australian National University, Canberra (AUSTRALIA)</li>
            <li>Muhammad Yousuf Irfan Zia, University of Malaga, Malaga (SPAIN)</li>
            <li>Dr. Charalampos Apostolopoulos, University of Strathclyde Business, Glasgow (UK)</li>
            <li>Dr. Ioannia Karamitsos, University of Strathclyde Business, Glasgow (UK)</li>
            <li>Dr. Pablo Otero, Australian National University, Canberra (AUSTRALIA)</li>
            <li>Dil Muhammad Akbar Hussain, Aalborg University (DENMARK)</li>
            <li>Dr. Rajendra Pratap Gupta, Co-Chair, Innovation Working Group, Asia</li>
            <li>Mr. Stefanus Botes, Minister Counsellor Economics, South Africa High Commission, New Delhi (INDIA)</li>
            <li>Prof. B. K. Panigrahi, IIT Delhi, Delhi (INDIA)</li>
            <li>Dr. Satwant Kaur, CTO, HP innovations Lab. (USA)</li>
            <li>Dr. B.K. Murthy, DG, CDAC, New Delhi (INDIA)</li>
            <li>Mr. Jeetan Singh, High Point Learning, Atlanta (USA)</li>
            <li>Prof. K. Subramanian, IEEE, Delhi Section (INDIA)</li>
            <li>Prof. Vijay K. Vaishnavi, IEEE Life Fellow, Georgia State University (USA)</li>
            <li>Prof. Om Vikas, Former Director, IIITM, Gwalior (INDIA)</li>
            <li>Dr. Nurul Fadly Bin Habidin, University of Pendidikan Sultan Idris (MALAYSIA)</li>
            <li>Prof. Kishor Trivedi, Duke University (USA)</li>
            <li>Dr. Javier Poncela, University of Malaga (SPAIN)</li>
            <li>Prof. B. N. Mishra, Chairman, Board of Governors, Netaji Subhash Institute of Technology (NSIT), New
                Delhi (INDIA)</li>
            <li>Mr. Rajat M. Nag, Former Managing Director General, Asian Development Bank, Manila, (Philippines)</li>
            <li>Prof. Subramaniam Ganesan, Oakland University, Rochester (USA)</li>
            <li>Prof. S. Balasundaram, JNU, New Delhi (INDIA)</li>
            <li>Prof. J. C. Kapur, IIPA, New Delhi (INDIA)</li>
            <li>Dr. Mohammad Fahim, Harvard University, Boston (USA)</li>
            <li>Prof. Mohamed Hamada, The University of Aizu, Aizu (JAPAN)</li>
            <li>Prof. R. K. Shevgaonkar, Director, IIT Delhi, New Delhi (INDIA)</li>
            <li>Prof. D. K. Bandyopadhayay, Vice Chancellor, Guru Gobind Singh Indraprastha University (GGSIPU), New
                Delhi (INDIA)</li>
            <li>Prof. S. V. Raghavan, Scientific Secretary, Office of the Principal Scientific Adviser to the Govt. of
                India and President, Computer Society of India, New Delhi (INDIA)</li>
            <li>Prof. D. P. Aggarwal, Chairman, Union Public Service Commission (UPSC), New Delhi (INDIA)</li>
            <li>Prof Shiban K. Kaul, Centre for Applied Research in Electronics (CARE), IIT Delhi (INDIA)</li>
            <li>Prof. A. Q. Ansari, Jamia Millia Islamia, New Delhi (INDIA)</li>
            <li>Mr. Suramya Tomar, VP, Goldman Sachs, Bangalore (INDIA)</li>
            <li>Mr. Daman Dev Sood, IEEE</li>
            <li>Col. Prashant Choudhary, CISCO, Chandigarh (INDIA)</li>
            <li>Mr. Ashish Banati, Director, STQC, MC&IT, New Delhi (INDIA)</li>
            <li>Mr. Vikas Sharma, CEO, Sunworks, Gurgaon (INDIA)</li>
            <li>Shri Muktesh Chander, IPS, Delhi Police</li>
            <li>Dr. Suresh G. Naik, University of Houston, Houston (USA)</li>
            <li>Dr. G. K. Narayan, University of Chicago, Illinois (USA)</li>
            <li>Mr. Ranjeet Kumar, Director, Science and Technology, New Delhi (INDIA)</li>
            <li>Dr. Prabhat Ranjan, Chief Executive, National Knowledge Network (NKN), New Delhi (INDIA)</li>
            <li>Mr. Anil Kumar, Ministry of Electronics and Information Technology (MeitY), New Delhi (INDIA)</li>
            <li>Dr. Nitin S. Ghosh, Director, DIT, Government of India</li>
            <li>Prof. Sudhir K. Bansal, Punjab University, Chandigarh (INDIA)</li>
            <li>Mr. Amitabh Sharma, Computer Society of India (CSI)</li>
            <li>Mr. Rahul Kumar, IEEE CS India Chapter</li>
            <li>Mr. Vikram Bansal, Chairman, Knowledge Foundation, New Delhi (INDIA)</li>
            <li>Mr. Praveen Kumar, Director, NIT Kurukshetra (INDIA)</li>
            <li>Dr. R. K. Jain, Director, Data Science Lab, IIT Delhi (INDIA)</li>
            <li>Dr. Sanjay Jha, Director, AICE, Indian Institute of Technology, Delhi (INDIA)</li>
        </ul>
    </div>
</section>