@page
@model Registrations
@{
    ViewData["Title"] = "Registration Fee Details";
}

<section class="section">
    <h1 class="title">@ViewData["Title"]</h1>
    @* <p class="subtitle">(02<sup>nd</sup> - 04<sup>th</sup> April, 2025)</p> *@
    <h4 class="subheading">Important Dates and Fee for Registration</h4>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th rowspan="2" class="align-middle">Category of Delegates / Authors</th>
                    <th colspan="2">Early Bird on or before 24<sup>th</sup> February, 2025</th>
                    <th colspan="2">After 24<sup>th</sup> February, 2025</th>
                    <th colspan="2">Spot Registration</th>
                </tr>
                <tr>
                    <th class="text-primary">IEEE/IET/CSI/ IETE/IE(I)/ISTE/IITP/IMP Members</th>
                    <th class="text-primary">General</th>
                    <th class="text-primary">IEEE/IET/CSI/ IETE/IE(I)/ISTE/IITP/IMP Members</th>
                    <th class="text-primary">General</th>
                    <th class="text-primary">IEEE/IET/CSI/ IETE/IE(I)/ISTE/IITP/IMP Members</th>
                    <th class="text-primary">General</th>
                </tr>
            </thead>
            <tbody>
                <tr class="highlight-row">
                    <td colspan="7" class="text-danger">Indian Authors & Delegates (in INR)</td>
                </tr>
                <tr>
                    <td>Full Time Students*</td>
                    <td>6,400.00</td>
                    <td>8,000.00</td>
                    <td>7,200.00</td>
                    <td>9,000.00</td>
                    <td>8,000.00</td>
                    <td>10,000.00</td>
                </tr>
                <tr>
                    <td>Teachers/Research Scholars</td>
                    <td>8,000.00</td>
                    <td>10,000.00</td>
                    <td>8,800.00</td>
                    <td>11,000.00</td>
                    <td>9,600.00</td>
                    <td>12,000.00</td>
                </tr>
                <tr>
                    <td>Industry</td>
                    <td>10,400.00</td>
                    <td>13,000.00</td>
                    <td>11,200.00</td>
                    <td>14,000.00</td>
                    <td>12,000.00</td>
                    <td>15,000.00</td>
                </tr>
                <tr class="highlight-row">
                    <td colspan="7" class="text-primary">Foreign Authors & Delegates (in USD $)</td>
                </tr>
                <tr>
                    <td>Teachers/Research Scholars</td>
                    <td>480.00</td>
                    <td>600.00</td>
                    <td>560.00</td>
                    <td>700.00</td>
                    <td>720.00</td>
                    <td>900.00</td>
                </tr>
                <tr>
                    <td>Industry</td>
                    <td>560.00</td>
                    <td>700.00</td>
                    <td>640.00</td>
                    <td>800.00</td>
                    <td>800.00</td>
                    <td>1,000.00</td>
                </tr>
            </tbody>
        </table>
        <div class="registration-fee" role="alert">
        <strong><p>Registration Fee covers processes related to Conference Organization and Hospitality. All publications (Soft Copy / IEEE), of eligible authors, as per applicable date and pre-notified policy listed on <a href="#"> Review Process Publication & Indexing</a> are FREE OF COST. We do not charge any Publication Fee, whatsoever. Please note that only the registered authors will be entitled to get the certificate after the presentation.</p>
        </strong>
        <p>Maximum paper length is of 6 A4 Size pages. However, the authors can extend maximum 2 pages with over length page charge, of Rs. 2,000/- for Indian participant and US$ 100/- for International participant, per page.</p>
        <h4 class="subheading">SPECIAL DISCOUNTS in all Categories</h4>
        <ol>
            <li>10% discount will be given on five or more registrations from one organization in General Category only. Please note that M. Tech./B. Tech./MCA students will be considered as Full time Students whereas Ph. D. Scholars will be considered as Research Scholars.</li>
            <li>Co-Authors (provided the main author has registered) of accepted papers and Alumni of BVICAM will get 20% discount on base rate in the respective category. They should contact <strong>Sunil Pratap Singh</strong> Sunil Pratap Singh at <strong>(Tel.: +91-11-25275055; Mobile: +91-8630340857, E-Mail ID:<a href="#">indiacom@gmail.com</a>)</strong>  for availing the discount before registration.</li>
            
        </ol>
        <p>*IEEE/IET/CSI/IETE/IE(I)/ISTE/IITP/IMP Members must mention their valid membership number and also attach a copy of the membership card or any other proof of valid membership.
            #Bonafide students as on 31st January, 2024, must submit the Bonafide Certificate from their Institute / College /Department.
        </p>
        <h4 class="subheading">Additional Instructions for Co-Authors
        </h4>
        <p>In a paper with more than one author, all authors cannot register as "<strong>Co-Authors</strong>". One of the authors must pay full registration fee, while others can avail Co-Author discount. Co-Author registration discount can be availed only after one of the authors has successfully registered with full registration fee. Co-Authors who wish to avail registration discount have to compulsorily indicate fee payment details of first author.</p>
        <h4 class="subheading">Submission of Multiple Papers
        </h4>
        <p>Multiple papers may be submitted by one author or group of authors.  In such cases, if multiple papers are accepted, <strong>authors will need to submit at-least one full registration per paper</strong>, to make the paper eligible for presentation / publishing. However, if there are more than one papers from same group of authors, there will be an extra charge of Rs.2000/- for every additional paper, <strong>provided any one author has paid full registration fee for that paper</strong>. In such cases, Conference Kit will not be issued, however, certificate will be issued to the author who would be presenting this paper. <br>
            <strong>Please note that a paper will be considered for presentation / publication only when at-least one full registration is received against that paper.</strong>
        </p>
        <h4 class="subheading">Payment Modes</h4>
        <p>The payment can be made in Cash in the office of the Institute / by Demand Draft in favour of <strong>Director, BVICAM,</strong> payable at <strong>New Delhi (INDIA)</strong> / Online Payments / RTGS / Wire Transfer in our SBI (State Bank of India)<strong>No.: 32077798105; Account Name: BVICAM; Branch Name: Jwala Heri (Delhi, INDIA); Branch Code: 06623; IFSC: SBIN0006623; Account Type: Saving; Swift Code of Beneficiary Bank: SBININBB378</strong> 
            <p>While making online payment, authors are further requested to mention their Member ID & Paper ID clearly in Payment Remark to enable us to trace your payment in the Bank Statement. Kindly also note to add the applicable bank charges, if any, for online payment.</p> 
        </p>

    </div>


</section>
