@page
@model IndiaCommHistory
@{
    ViewData["Title"] = "Special Sessions";
}
<section class="container p-4 bg-white rounded-3 my-3 ">
    <!-- Header -->
    <h1 class="text-center">@ViewData["Title"]</h1>

    <!-- Description Section -->
    <div class="alert alert-info" role="alert">
        <p>Collaborative efforts lead to substantial accomplishments. With this viewpoint, <strong>INDIACom -
                2025</strong> invites eminent academicians, scientists, researchers, industrialists, technocrats,
            government representatives, social visionaries, and experts from all strata of society to work together for
            a more meaningful and professional outcome.</p>
    </div>

    <!-- Detailed Information -->
    <div class="mb-4">
        <p>The <strong>INDIACom</strong> team plans to hold <strong>Special Sessions</strong> on various areas of
            expertise, in any of the tracks based on related themes. These Special Sessions will be chaired by experts
            from different fields, and the presentation of papers in these sessions will be scheduled at the conference
            venue over three days (pre-intimated) during the conference.</p>
        <p class="fw-bold">Accepted and presented papers will be published in the following formats:</p>
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item">Shortlisted papers will be published in the <strong>Soft Copy of pre-Conference
                    proceedings</strong>, accessible on the Conference Website.</li>
            <li class="list-group-item">All presented papers will be submitted to <strong>IEEE Xplore</strong> for
                publication and indexing.</li>
        </ul>
    </div>

    <!-- Call to Action -->
    <div class="text-left">
        <a href="#" class="text-primary">Click here</a> to submit a request for conducting a Special
        Session
        during INDIACom - 2025
    </div>
</section>